<configuration>
	<property name="log.base" value="/var/logs/smart" />
	<property name="pattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sessionId}] %-5level [%thread] %logger{80} :%msg%n" />

    <!--smart根 -->
    <appender name="root"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-root-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="domain"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-domain.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-domain-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 异常 -->
    <appender name="exception"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-exception.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-exception-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--记账 -->
    <appender name="smart-base" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-base.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-base-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
        <!--通过服务 -->
    <appender name="smart-service" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-service-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="smart-biz-account" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-biz-account.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-biz-account-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="smart-biz-refund" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-biz-refund.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-biz-refund-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="smart-biz-income" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-biz-income.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-biz-income-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="smart-biz-draw" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-biz-draw.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-biz-draw-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="smart-biz-meracc" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-biz-meracc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-biz-meracc-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="smart-biz-custom" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-biz-custom.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-biz-custom-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="smart-biz-accquery" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-biz-accquery.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-biz-accquery-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
     <appender name="smart-master" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/smart-master.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/smart-master-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

	<logger name="com.somnus.smart.base" additivity="false">
		<level value="info" />
		<appender-ref ref="smart-base" />
	</logger>
	
	<logger name="com.somnus.smart.domain" additivity="false">
		<level value="info" />
		<appender-ref ref="smart-domain" />
	</logger>
	
	<logger name="com.somnus.smart.service" additivity="false">
		<level value="info" />
		<appender-ref ref="smart-service" />
	</logger>
    
     <logger name="com.somnus.smart.biz.account" additivity="false">
        <level value="info" />
        <appender-ref ref="smart-biz-account" />
    </logger>
    
    <logger name="com.somnus.smart.biz.income" additivity="false">
        <level value="info" />
        <appender-ref ref="smart-biz-income" />
    </logger>
    
    <logger name="com.somnus.smart.biz.draw" additivity="false">
        <level value="info" />
        <appender-ref ref="smart-biz-draw" />
    </logger>
    
    <logger name="com.somnus.smart.biz.refund" additivity="false">
        <level value="info" />
        <appender-ref ref="smart-biz-refund" />
    </logger>
    
    <logger name="com.somnus.smart.biz.meracc" additivity="false">
        <level value="info" />
        <appender-ref ref="smart-biz-meracc" />
    </logger>
    
    <logger name="com.somnus.smart.biz.custom" additivity="false">
        <level value="info" />
        <appender-ref ref="smart-biz-custom" />
    </logger>
    
    <logger name="com.somnus.smart.biz.accquery" additivity="false">
        <level value="info" />
        <appender-ref ref="smart-biz-accquery" />
    </logger>

     <logger name="com.somnus.smart.master" additivity="false">
        <level value="info" />
        <appender-ref ref="smart-master" />
    </logger>

	<!-- 日志过滤 -->
    <!-- log filter-->
    <logger name="org.jdbcdslog.ConnectionLogger">
        <level value="info" />
    </logger>
    <!-- 上线初期建议lever=info，正常运行后建以lever=error,测试时lever=error-->
    <logger name="org.jdbcdslog.StatementLogger">
        <level value="info" />
    </logger>
    <logger name="org.jdbcdslog.SlowQueryLogger">
        <level value="info" />
    </logger>
    <logger name="org.jdbcdslog.ResultSetLogger">
        <level value="error" />
    </logger>
	<logger name="org.springframework">
		<level value="info" />
	</logger>
	<logger name="org.apache">
		<level value="info" />
	</logger>

	<!-- root级别控制 -->
	<root level="INFO">
		<appender-ref ref="root" />
	</root>

</configuration>  
