<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 注解bean扫描-->
	<!-- <context:component-scan base-package="com.somnus.smart"/> -->
	<!-- 设置使用注解的类所在的jar包 -->
     <!-- @Component 是一个泛化的概念，仅仅表示一个组件 (Bean) ，也可以作用在任何层次 -->
     <!-- @Service 通常作用在业务层，但是目前该功能与 @Component相同 -->
     <!-- @Repository 通常作用在持久层，但是目前该功能与 @Component相同 -->
     <!-- @Constroller 通常作用在控制层，但是目前该功能与 @Component相同 -->
    <context:component-scan base-package="com.somnus.smart" use-default-filters="false">
        <!-- 扫描符合@Component @Service @Repository的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
    </context:component-scan>
    
    <!-- application 上下文 -->
    <bean class="com.somnus.smart.support.holder.ApplicationContextHolder"/>
    <!-- 公共配置文件-->
	<import resource="classpath:/spring-env.xml"/>	
	<import resource="classpath:/spring-resource-db.xml" />
	<import resource="classpath:/spring-aspect.xml" />
    <import resource="classpath:/spring-beanvalidation.xml" />
    <import resource="classpath:/msg/spring-message.xml" />
    <import resource="classpath:/spring-cache.xml" />
    <import resource="classpath:/spring-mybatis.xml" />
	<import resource="classpath*:/jms/spring-*.xml" />
    <import resource="classpath*:META-INF/spring-common.xml"/>
</beans>
